/*==========================================
    inventor
==========================================*/
.inventor {
    background: aliceblue;
    padding: 116px 0 90px;
    .single-inventor {
        margin-bottom: 30px;
        .part-img {
            img {
                width: 100%;
            }
        }
        .part-text {
            background: $white;
            padding: 23px 0 22px;
            text-align: center;
            @include transition($transition);
            span {
                display: block;
                &.name {
                    font-size: 22px;
                    color: $base-color;
                    font-weight: 600;
                    margin-bottom: 4px;
                    @include transition($transition);
                }
                &.number {
                    font-size: 16px;
                    font-weight: 700;
                    color: #444;
                    @include transition($transition);
                }
            }
        }
        &:hover {
            .part-text {
                background: $base-color-2;
                span {
                    &.name, &.number {
                        color: $white;
                    }
                }
            }
        }
    }
}